<%= form_for(@group) do |f| %>
    <% if @group.errors.any? %>
      <div id="error_explanation" class="form-group">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:
        </h2>
        <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form-group">
    <%= f.label :groupname %>
    <%= f.text_field :groupname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control",
    value: "Alexandria,Egypt", readonly: "readonly", id: "country" %>
    <br>
    <select id="country2" name ="country2" class="form-control" style="display:none;"></select>
    <br>

    <select name ="state" id ="state" onclick="location_data()" class="form-control" style="display:none;"></select>
    <br>
    <a id="btndone" class="btn btn-sm btn-primary" onclick="doneselect()" style="display:none;">Done</a> 

    <a id="link" class="btn btn-link" onclick="selectcountry()">Not in Alexandria,Egypt?</a> 
  
  </div>
  <script language="javascript">
    populateCountries("country2", "state");
  </script>

    <div class="form-group">
    <%= f.hidden_field :latitude, class: "form-control", id: "latitude" %>
  </div>

    <div class="form-group">
    <%= f.hidden_field :longitude, class: "form-control", id: "longitude" %>
  </div>

  <div class="form-group" id="selected_interests">
    <label>Group interests</label>
  </div>
  <input type="hidden" id="myinterest" name="myinterest" value="">

<div class="form-group" id="avaliable_interests">
  <label>Avaliable interests</label>
  <% @interests.each do |interest| %>
  <div id="interests" style="display: inline-block;" class="panel panel-default">    
    <div id="<%= interest.id%>" class="panel-body" onclick="selectinterest(this)" >
     <%= interest.interestname %>
    </div>
  </div>
  <% end %>
</div>
  <div class="form-group">
    <%= f.hidden_field :user_id, class: "form-control", value: '1' %>
  </div>
  <div class="form-group">
  <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %> 
  </div>
<% end %>

