<% if current_user.isadmin %>
<div class="container">
<div class="row">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Groups</a></li>
  <li role="presentation"><a href="http://localhost:3000/events">Events</a></li>
  <li role="presentation"><a href="http://localhost:3000/interests">Interests</a></li>
  <li role="presentation"><a href="http://localhost:3000/users">Users</a></li>
</ul>
</div>
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-md-offset-10 ">
      <%= link_to 'New Group', new_group_path %>
    </div>
    <div class="col-md-12">
      <h1>
        <span class="label label-default">Listing Groups</span>
      </h1>
      <div class="table-responsive">
        <table class="table table-hover">
            <tr class="info">
              <th class="text-center">Groupname</th>
              <th class="text-center">Description</th>
              <th class="text-center">Location</th>
              <th class="text-center">User</th>
              <th class="text-center">Show</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Destroy</th>
            </tr>

            <% @groups.each do |group| %>
              <tr>
                <td class="text-center"><%= group.groupname %></td>
                <td class="text-center"><%= group.description %></td>
                <td class="text-center"><%= group.location %></td>
                <td class="text-center"><%= group.user.username %></td>
                <td class="text-center"><%= link_to 'Show', group %></td>
                <td class="text-center"><%= link_to 'Edit', edit_group_path(group) %></td>
                <td class="text-center"><%= link_to 'Destroy', group, method: :delete, 
                data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
        </table>

        <br>
      </div>
    </div>
  </div>
</div>
<%else%>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-danger" style="margin-top: 150px">
      <div class="panel-heading" > 
        <h3 class="panel-title">
        Error 
        </h3>
      </div>
      <div class="panel-body">
        <p>You can't access this url </p>
      </div>
    </div>
  </div>
</div>
<%end%>