<div class="container">
	<div class="row">
		<div class="col-md-offset-10 ">
	<h4>
     <% if current_user.isadmin %>
      <%= link_to 'Back', groups_path %>
    <%else%>
      <%= link_to 'Back', "http://localhost:3000/" %>
    <%end%>
    </h4>
		</div>
		<%= image_tag @group.avatar.url, style: "width: 1000px; height: 150px" %>
		<div class="col-md-offset-2 col-md-7">
			<h1>
				<span class="label label-default"><%= @group.groupname %></span>
			</h1>
			<ul class="nav navbar-nav navbar-right">
			  <li><a class="btn btn-primary" id="btn_member" onclick="checkmember('<%= @group.id%>')">
			      <% if @ismember %>
			          Un Join! 
			    <% else %>
			          Join us! 
			    <% end %></a></li><br>
			    <li>
			    	<a  id="btn_event"  	
			    	<% if @ismember %>
				          style="visibility:visible;" 
				    <% else %>
				          style="visibility:hidden;"
				    <% end %> href="/events/new?group_id=<%= @group.id%>">
				    Create Event
				    </a>
			    </li>
			</ul>

			<ul class="nav nav-pills">
			  <li class="active" id="home"><a onclick="showhome()">Home</a></li>
			  <li id="members"><a onclick="showmembers()">Members</a></li>
			</ul>
			<br>			
			<div id="Home" style="display:block;">
				<div class="table-responsive">
					<table class="table table-hover">
							<tr>
								<td>
									<%= @group.description %>
								</td>
							</tr>
							<tr>
								<td>
									<h3 class="text-left"><strong>We are <%= @users_id.length %> Member</strong></h3>
									<% @users_id.each do |user| %>
										<%= image_tag user.user.photo.url, width: '32', height: '32' %>
									<% end -%>	
								</td>
							</tr>
					</table>
				</div>
				<div>
					<h3>Events:</h3>
						<% if @events != nil %>
							<% @events.each do |event| %>
							<div class="alert alert-success" role="alert">
							<h4><a href="/events/<%= event.id %>"><%= event.title %>,<%= event.address %>,<%= event.city %>,<%= event.country %></a></h4><br>
							From:<%= event.startdate %> To:<%= event.enddate %> <br>
							        <%= event.description %><br>
							        </div>
							        <hr>
							<% end %>
						<% else %>
						No Events Yet!!
						<% end %>
				</div>
			</div>
			<div id="Members" style="display:none;">
				<h1>
					<span class="label label-default">Members</span>
				</h1>
				<ul class="nav nav-pills">
				  <li class="active" id="members_li"><a onclick="getmembers()">All Members</a></li>
				  <li id="admin_li"><a onclick="adminmember()">The Leadership Team</a></li>
				</ul>
				<div id="allmembers" style="display:block;">
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<% @users_id.each do |user| %>
									<tr>
										<td>
											<%= image_tag user.user.photo.url, width: '32', height: '32' %>
											<%= link_to user.user.username, user.user %>
										</td>	
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<div id="adminmember" style="display:none;">
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
									<tr>
										<td>
											<%= image_tag @group.user.photo.url, width: '32', height: '32' %>
											<%= link_to @group.user.username, @group.user %>
										</td>	
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function checkmember(group_id){
    var check=document.getElementById("btn_member").innerHTML;
        if (check == "Join us!"){
            $.ajax({
                    method: "GET",
                    url: "<%= home_addmembertogroup_path %>?group_id="+group_id
                    })
                    .done(function( msg ) {
                      console.log("Done");
                      document.getElementById("btn_member").innerHTML="Un Join!";
                      document.getElementById("btn_event").style.visibility = "visible";
                });
        }else{
          $.ajax({
                    method: "GET",
                    url: "<%= home_removememberfromgroup_path %>?group_id="+group_id
                    })
                    .done(function( msg ) {
                      console.log("Done");
                      document.getElementById("btn_member").innerHTML="Join us!";
                      document.getElementById("btn_event").style.visibility= "hidden";
                });
        }
  }
</script>