<p id="notice"><%= notice %></p>

<p>
  <strong>Groupname:</strong>
  <%= @group.groupname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @group.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @group.user %>
</p>
<p>
<strong>Picture:</strong>
<%= image_tag @group.avatar.url %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
