<%= form_for(@user) do |f| %>
 <% if @user.errors.any? %>
    <div id="error_explanation" , class="form-group" >
    <div class="alert alert-danger">
      The form contains<%= pluralize(@user.errors.count, "error") %>
         </div>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username ,class: 'form-control'%>
    </div>
    <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email ,class: 'form-control'%>
    </div>
    <div class="form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" ,class: 'form-control'%>
    </div>
    <%if current_user != nil %>
    <% if current_user.isadmin %>
    <div class="form-group">
      <%= f.label :isadmin %>
    <%= f.check_box :isadmin %>
    </div>
    <% end -%>
    <% end -%>
    <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender ,User::GENDERS.map { |s| [("#{s}"), s] }%>
    </div>
    <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age,class: 'form-control' %>
    </div>
    <div class="form-group">
    <div class="field"> <%= f.label :country %> 
    <%= f.select(:country, [], {}, { :class => 'form-control' ,:id => 'country'})%> </div> 
    </div>
    <div class="form-group">
    <div class="field"> 
    <%= f.label :city %>
    <%= f.select(:city, [],{}, { :class => 'form-control' ,:id => 'state', :onclick=> 'addlocation()'}) %> 
    </div> 
    </div>
    <script language="javascript"> 
      populateCountries("country", "state"); 
    </script>

    <div class="form-group">
      <%= f.hidden_field :latitude, class: "form-control", id: "latitude" %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :longitude, class: "form-control", id: "longitude" %>
    </div>
    <%= f.file_field :photo,class: 'form-control'%>
    <%= f.submit "Create my account", class: "btn btn-primary"%>
  
<% end %>
</div>
</div>
<script type="text/javascript">
  function addlocation(){
    //to convert selected location to latitude and longitude//
    var geocoder = new google.maps.Geocoder();
    var country=document.getElementById('country');
    var state=document.getElementById('state');
    var address = country.value+","+state.value;

    geocoder.geocode( { 'address': address}, function(results, status) {

          if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();
            var latitude_div = document.getElementById('latitude');
            latitude_div.value = latitude;
            var longitude_div = document.getElementById('longitude');
            longitude_div.value = longitude;            
            } 

  });
  }


</script>
