<p id="notice"><%= notice %></p>

<div class="row ">
<div class="col-md-6 ">
<h4>
     <% if current_user.isadmin %>
      <%= link_to 'Back', events_path %>
    <%else%>
      <a href="/groups/<%=@event.group_id%>">Back</a>
    <%end%>
    </h4>
</div>
<% if current_user.id == @event.user_id  || current_user.isadmin %>
<div class="col-md-2 pull-right"><h4><%= link_to 'Edit', edit_event_path(@event) %>|<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
</div>
<% end %>
</div>

<div class="row jumbotron">
  <h1><%= @event.title %></h1>
  <p><%= @event.address %>,<%= @event.city %>,<%= @event.country %></p>
  <p>From:<%= @event.startdate %>    To:<%= @event.enddate %></p>
  <p><%= @event.description %></p>
</div>
<div class="row">
  <button class="pull-right btn btn-primary" id="btn_member" onclick="checkmember('<%= @event.id%>')">

      <% if @ismember %>
          Un Join! 
    <% else %>
          Join us! 
    <% end %>
  </button>
</div>

<% @posts.each do |post| %>

<div class="row panel panel-default ">
<div class="panel-body">

 <% if current_user.id == post.user_id || current_user.isadmin%>
<%= link_to 'Delete', post, method: :delete, class: 'pull-right btn btn-danger',data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_post_path(post), class: 'pull-right btn btn-success' %>  
  <% end %>

<% user= User.where("id= ?",post.user_id)%>
<%= image_tag user[0].photo.url, width: '32', height: '32' %>
    <h4><span><%= user[0]['username'] %>:</span>
    <%= post.body %></h4>
    <h4><b>Comments:</b></h4>

    <% @comments.each do |comment| %>
    <% if comment.post_id == post.id %>
    <div class="row">
    <div class="col-md-6 panel panel-default ">
  <div class="panel-body">

  <% if current_user.id == comment.user_id  || current_user.isadmin %>

  <%= link_to 'Delete', comment, method: :delete , class: 'pull-right btn btn-danger', data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_comment_path(comment), class: 'pull-right btn btn-success' %>
   <% end %>

    <% user= User.where("id= ?",comment.user_id)%>
    <%= image_tag user[0].photo.url, width: '32', height: '32' %>
    <h4><span><%= user[0]['username'] %>:</span>
    <%= comment.body %></h4>
    </div>
    </div>
    </div>
    <% end %>

    <% end %>
    
    <div class="row">
    <% if @ismember %>
        <div class="col-md-3 panel panel-default ">
      <div class="panel-body">
                <%= form_for :comment, url: comments_path do |form| %>
                <div class="form-group">
                <label>Leave your comment here:</label>
              <div class="field">
                <%= form.text_area :body %>
              </div>
              <%= form.hidden_field :event_id , value: @event.id %>
              <div class="field">
                <%= form.hidden_field :post_id , value: post.id %>
              </div>
              <div class="field">
                <%= form.hidden_field :user_id , value: current_user.id %>
              </div>
              <div class="actions">
                <%= form.submit 'Submit', class: 'btn btn-primary'%>
              </div>
              </div>
            <% end %>
        </div>
        
        </div>
        <% end %>
    </div>
</div>
</div>
<% end %>

<% if @ismember %>
<div class="row col-md-6 panel panel-default">
  <div class="panel-body">
    <%= form_for :post, url: posts_path do |f| %>
    <div class="form-group">
    <h4><b>Enter Your Post</b> </h4>
  <div class="field">
    <%= f.text_area :body , class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.hidden_field :event_id , value: @event.id  %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id  , value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' , class: 'btn btn-primary'%>
  </div>
  </div>
<% end %>
  </div>
</div>
<% end %>
<script type="text/javascript">
  function checkmember(event_id){
    var check=document.getElementById("btn_member").innerHTML;
        if (check == "Join us!"){
            $.ajax({
                    method: "GET",
                    url: "<%= home_addmembertoevent_path %>?event_id="+event_id
                    })
                    .done(function( msg ) {
                      console.log("Done");
                      document.getElementById("btn_member").innerHTML="Un Join!";
                });
        }else{
          $.ajax({
                    method: "GET",
                    url: "<%= home_removememberfromevent_path %>?event_id="+event_id
                    })
                    .done(function( msg ) {
                      console.log("Done");
                      document.getElementById("btn_member").innerHTML="Join us!";
                });
        }
  }
</script>


