<div class="container">
<div class="row">
<ul class="nav nav-tabs">
  <li role="presentation"><a href="http://localhost:3000/groups">Groups</a></li>
  <li role="presentation"><a href="http://localhost:3000/events">Events</a></li>
  <li role="presentation"  class="active"><a href="http://localhost:3000/interests">Interests</a></li>
  <li role="presentation"><a href="http://localhost:3000/users">Users</a></li>
</ul>
</div>

  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-md-offset-10 ">
      <%= link_to 'New Interest', new_interest_path %>
    </div>
      <div class="col-md-12">
        <h1>
         <span class="label label-default">Listing Interests</span>
        </h1>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="info">
                <th class="text-center">Interestname</th>
                <th class="text-center">User</th>
                <th class="text-center">Show</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Destroy</th>
              </tr>
            </thead>

            <tbody>
              <% @interests.each do |interest| %>
                <tr>
                  <td class="text-center"><%= interest.interestname %></td>
                  <td class="text-center"><%= interest.user.username %></td>
                  <td class="text-center"><%= link_to 'Show', interest %></td>
                  <td class="text-center"><%= link_to 'Edit', edit_interest_path(interest) %></td>
                  <td class="text-center"><%= link_to 'Destroy', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        <br>
        </div>
      </div>
  </div>
</div>


