<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <div id="user-widget">
      <% if current_user %>
      Welcome <strong><%= current_user.username %></strong>!
      <%= link_to "Sign out", logout_path, id: "sign_out" %>
    <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
   <% end %>
  </div>
       <%= render 'layouts/footer' %>            
     

    </div>
  </body>
</html>
